<head>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/tasks.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div id="mainBody">
        <%- include('./partials/sidebar.ejs') %>
        <%- include('./partials/header.ejs') %>

        <div class="taskHeader">
            <form action="" method="post">
                <label for="taskName">Add Task:</label><br />
                <input type="text" id="taskAdd" name="taskAdd" required /><br />
                <lavel for="taskAddDesc">Description:</lavel><br />
                <input type="text" id="taskDesc" name="taskAddDesc" /><br />
                <button id="addTaskBtn">Add</button>
            </form>

        </div>

        <% if (tasks.length > 0) { %>
        <% tasks.forEach(task => { %>
        <% if (!task.toObject().complete) {%>
        <div class="taskList" id="<%= task._id %>">
            <div class="taskIndividual">
                <form action="" method="post">
                    <button type="submit" name="completereq" id="submitComplete" value="<%= task._id %>">Done</button>
                </form>
                <h3><a class="taskJump" href="/tasks/id/<%= task._id %>"><%= task.toObject().title %></a></h3>
                <p><%= task.toObject().description %></p>
            </div>
        </div>
        <% } %>
        <% })} else { %>
        <div class="taskList" id="0">
            <div class="taskIndividual">
                <h3>No tasks</h3>
            </div>
        </div>
        <% } %>
    </div>
</body>

<!--To-Do: Change the formatting for accessing fields in an object to not require constant serialization, probably would be more computationally efficient to do it once.-->

<script>
    // Oh, this is ugly
    addEventListener("resize", (event) => {
        let mobile = (window.innerWidth / window.innerHeight < 1) ? true : false;
        const descriptors = document.querySelectorAll(".taskIndividual p");
        if (mobile) {
            descriptors.forEach((e) => {
                e.style.fontSize = '0px';
            });
        }
        else {
            descriptors.forEach((e) => {
                e.style.fontSize = '20px';
            });
        }
    });

</script>