<head>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/tasks.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div id="mainBody">
        <%- include('./partials/sidebar.ejs') %>
        <%- include('./partials/header.ejs') %>

        <% if (tasks.length > 0) { %>
        <% tasks.forEach(task => { %>
        <div class="taskList" id="<%= task._id %>">
            <div class="taskIndividual">
                <h3><a class="taskJump" href="/tasks/id/<%= task._id %>"><%= task.toObject().title %></a></h3>
                <p class="taskDescriptionClass"><%= task.toObject().description %></p>
                <p class="taskCreatedBy">Created by <%= task.toObject().createdby %></p>
                <h4 class="taskCreateDate"><%= task.toObject().createdate %></h4>
            </div>
        </div>
        <% })} else { %>
        <div class="taskList" id="0">
            <div class="taskIndividual">
                <h3>No tasks</h3>
            </div>
        </div>
        <% } %>
    </div>
</body>

<script>
    addEventListener("resize", (event) => {
        let mobile = (window.innerWidth / window.innerHeight < 1) ? true : false;
        const descriptors = document.querySelectorAll(".taskIndividual p");
        if (mobile) {
            descriptors.forEach((e) => {
                e.style.fontSize = '0px';
            });
        }
        else {
            descriptors.forEach((e) => {
                e.style.fontSize = '20px';
            });
        }
    });

</script>