<head>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/tasks.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<style>
    #navigation {
        margin-top: 1em;
    }
    #navigation button {
        width: 3em;
        height:2em;
        font-size: 25px;
    }
</style>

<body>
    <div id="mainBody">
        <%- include('./partials/sidebar.ejs') %>
        <%- include('./partials/header.ejs') %>

        <% if (tasks.length > 0) { %>
        <% tasks.forEach(task => { %>
        <div class="taskList" id="<%= task._id %>">
            <div class="taskIndividual">
                <h3><a class="taskJump" href="/tasks/id/<%= task._id %>"><%= task.toObject().title %></a></h3>
                <p class="taskDescriptionClass"><%= task.toObject().description %></p>
                <p class="taskCreatedBy">Created by <%= task.toObject().createdby %></p>
                <h4 class="taskCreateDate"><%= task.toObject().createdate %></h4>
            </div>
        </div>
        <% })} else { %>
        <div class="taskList" id="0">
            <div class="taskIndividual">
                <h3>No tasks</h3>
            </div>
        </div>
        <% } %>
        <div id="navigation">
            <button onclick="backOne()">&larr;</button>
            <button onclick="nextOne()">&rarr;</button>
        </div>
    </div>

</body>

<script>

    addEventListener("resize", (event) => {
        let mobile = (window.innerWidth / window.innerHeight < 1) ? true : false;
        const descriptors = document.querySelectorAll(".taskIndividual p");
        if (mobile) {
            descriptors.forEach((e) => {
                e.style.fontSize = '0px';
            });
        }
        else {
            descriptors.forEach((e) => {
                e.style.fontSize = '20px';
            });
        }
    });

    const newPageNum = parseInt(window.location.search.substring(window.location.search.indexOf('=')+1, window.location.search.length));
    function backOne() {
        if (newPageNum <= 0) {
            alert("Can't go any further back");
        }
        else {
            const newPath = `${window.location.pathname}?pagenum=${newPageNum - 1}`;
            window.location.replace(newPath);
        }
    }

    function nextOne() {
        const newPath = `${window.location.pathname}?pagenum=${newPageNum + 1}`;
        window.location.replace(newPath);
    }

</script>