<html>
<head>
    <link rel="stylesheet" href="index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>

        body {
            background-color: #0d1629;
        }

        .userBox {
            display:flex;
            background-color:gainsboro;
            border-radius: 10px;
            margin-top: 1em;
            margin-left: 1em;
            padding-left: 1em;
            align-items: center;
        }

        .userBox #userRole {
            margin-right: 1em;
            margin-left: auto;
        }

        #userAvi {
            height: 20em;
            width: 20em;
            margin-top:1em;
            border-radius:10px;
        }

        .userContainer {
            display:flex;
            align-items: flex-start;
        }

        .userInfo {
            display: flex;
            padding-right:0px;
            flex-direction: column;
            width: 100%;
        }

        .userAboutBox {
            background-color:gainsboro;
            margin-top: 1em;
            margin-left: 1em;
            border-radius:10px;
            padding-left:1em;
        }

        .userContactBox {
            background-color:gainsboro;
            max-width:18em;
            padding: 1em;
            padding-top: 1px;
            border-radius: 10px;
            margin-top: 1em;
        }

        .userContactBox h4 {
            margin-bottom: 0;
        }

        .userContactBox p {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 1em;
        }

    </style>
</head>
<body>
    <div id="mainBody">
        <%- include('./partials/sidebar.ejs') %>
        <%- include('./partials/header.ejs') %>
        <div id="content_body">
            <div class="userContainer">
                <img id="userAvi" src="data:image/png;base64, <%= userAvatar %>" />
                <div class="userInfo">
                    <div class="userBox">
                        <h1 id="userName"><%= userName %></h1>
                        <h4 id="userRole"><%= userRole %></h4>
                    </div>
                    <div class="userAboutBox">
                        <h3 id="userSince">User since: <%= userCreated %></h3>
                    </div>
                    <div class="userAboutBox">
                        <h3>About <%= userName %></h3>
                        <p>
                            This is some placeholder text until something can be added to allow for users to declare stuff about them
                        </p>
                    </div>
                </div>
            </div>
            <div class="userContactBox">
                <h4>Pronouns</h4>
                <p>Place/Holder</p>
                <h4>Status</h4>
                <p>PlaceHolder</p>
            </div>
        </div>
    </div>
</body>
</html>